NODE_ENV=develop
NODE_PORT=3000

# Hedera Network
HEDERA_ADMIN_WALLET=
HEDERA_ADMIN_PRIVATE_KEY=

# Cardano Network
CARDANO_WALLET_SERVER=http://localhost:8090/v2

# Ethereum Network
POLYGON_PROVIDER=https://polygon-rpc.com/
BINANCE_PROVIDER=https://bsc-dataseed.binance.org/
ETHEREUM_CLASSIC_PROVIDER=https://etc.rivet.link/
XDAI_PROVIDER=https://rpc.gnosischain.com
OPTIMISM_PROVIDER=https://mainnet.optimism.io
ARBITRUM_PROVIDER=https://arb-mainnet-public.unifra.io
AVALANCHE_PROVIDER=https://rpc.ankr.com/avalanche
FANTOM_PROVIDER=https://rpc.ankr.com/fantom
MOONBEAM_PROVIDER=https://rpc.api.moonbeam.network

# Xinfin Network

